{% extends 'refer_sys/base.html' %}

{% block content %}
  <form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>

  <table>
    <tr>
      <th>Title</th>
      <th>Clicks</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    {% for link in links %}
      <tr>
        <td>
          {{ link.title }}
        </td>
        <td>
          {{ link.clicks }}
        </td>
        <td>
          <a href="{% url 'edit_link' pk=link.pk %}">Edit</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
