{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/refer_sys.css' %}">
  <title>TBL Referral Pro</title>
</head>
<body>
  <div id="nav">
    <h1>Referral Maker</h1>
  </div>
  <div id="content-wrap">
    <form action="POST">
      {{ from.as_p }}
      <button>Create</button>
    </form>
    <table>
      <tr>
        <th>Title</th>
        <th>Clicks</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for link in links %}
      <tr>
        <td>
          {{ link.title }}
        </td>
        <td>
          {{ link.clicks }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>